/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}
nav li{
    list-style: none;

}
nav a{
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 40;
    padding: 20;
    background-color: white;
    font-size: 16px;
}
header{
    background-color: aquamarine;
    color: beige;
    min-height: 100px;
    padding:20px 10px ;
}
.main-nav {
    display: flex;
    justify-content: space-evenly;
    /* background-color: white; */
    padding: 10px 5px;
}

.main-nav a {
    border-radius: 20px;
    font-weight: 900;
    color:white;
    background-color: #7e0505;
    font: size 15rem; ;
    text-decoration: underline;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #f00f0f;
}
main{
    padding:20px ;
}
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

h1, h2, h3 {
    color:#0e11da;
}

p {
    line-height: 1.6;
    color: #101010;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.card h3 {
    margin-top: 100px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: rgb(22, 140, 187);
}
